In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv("/kaggle/input/malldata/mock_mall_customers.csv")

# Display the first few rows
df.head()

,CustomerID,Genre,Age Group,Age,Annual Income (k$),Spending Score (1-100)
0,1,Male,Elder,44,131,10
1,2,Female,Elder,51,20,69
2,3,Male,Elder,44,113,100
3,4,Male,Teen,16,138,34
4,5,Male,Elder,42,119,52

In [7]:
df.Age.mean()

37.06

In [8]:
df.Age.mode()

0    45
Name: Age, dtype: int64

In [9]:
df.Age.median()

39.0

In [10]:
df.groupby(['Age']).count()

     CustomerID  Genre  Age Group  Annual Income (k$)  Spending Score (1-100)
Age
13            4      4          4                   4                       4
14            7      7          7                   7                       7
15            6      6          6                   6                       6
16            4      4          4                   4                       4
17            3      3          3                   3                       3
18            5      5          5                   5                       5
19            4      4          4                   4                       4
20            4      4          4                   4                       4
21            3      3          3                   3                       3
23            5      5          5                   5                       5
24            3      3          3                   3                       3
25            2      2          2                   2                       2
26            1      1          1                   1                       1
27            2      2          2                   2                       2
28            5      5          5                   5                       5
29            4      4          4                   4                       4
30            3      3          3                   3                       3
31            5      5          5                   5                       5
32            6      6          6                   6                       6
33            2      2          2                   2                       2
34            4      4          4                   4                       4
35            3      3          3                   3                       3
36            5      5          5                   5                       5
37            4      4          4                   4                       4
38            3      3          3                   3                       3
39            4      4          4                   4                       4
40            8      8          8                   8                       8
41            4      4          4                   4                       4
42            6      6          6                   6                       6
43            1      1          1                   1                       1
44           10     10         10                  10                      10
45           11     11         11                  11                      11
46            2      2          2                   2                       2
47            6      6          6                   6                       6
48            4      4          4                   4                       4
49            5      5          5                   5                       5
50            4      4          4                   4                       4
51            6      6          6                   6                       6
52            3      3          3                   3                       3
53            5      5          5                   5                       5
54            3      3          3                   3                       3
55            1      1          1                   1                       1
56            5      5          5                   5                       5
57            3      3          3                   3                       3
58            3      3          3                   3                       3
59            1      1          1                   1                       1
60            8      8          8                   8                       8

In [11]:
df.groupby(['Genre']).count()

        CustomerID  Age Group  Age  Annual Income (k$)  Spending Score (1-100)
Genre
Female         100        100  100                 100                     100
Male           100        100  100                 100                     100

In [12]:
df[['Age','Annual Income (k$)','Spending Score (1-100)']].mean()

Age                       37.060
Annual Income (k$)        80.095
Spending Score (1-100)    48.955
dtype: float64

In [13]:
df[['Age','Annual Income (k$)','Spending Score (1-100)']].max()

Age                        60
Annual Income (k$)        140
Spending Score (1-100)    100
dtype: int64

In [16]:
df2=df.groupby('Genre')
df

,CustomerID,Genre,Age Group,Age,Annual Income (k$),Spending Score (1-100)
0,1,Male,Elder,44,131,10
1,2,Female,Elder,51,20,69
2,3,Male,Elder,44,113,100
3,4,Male,Teen,16,138,34
4,5,Male,Elder,42,119,52
...,...,...,...,...,...,...
195,196,Female,Elder,56,47,45
196,197,Female,Elder,40,140,61
197,198,Female,Elder,42,108,47
198,199,Male,Elder,41,115,21
199,200,Male,Elder,58,37,80

In [17]:
for Genre, Genre_f in df2:
    print(Genre)
    print(Genre_f)

Female
     CustomerID   Genre   Age Group  Age  Annual Income (k$)  \
1             2  Female       Elder   51                  20
5             6  Female       Elder   49                  51
9            10  Female  Middle Age   27                  60
14           15  Female       Elder   44                 111
16           17  Female  Middle Age   34                  77
..          ...     ...         ...  ...                 ...
186         187  Female       Elder   40                  83
189         190  Female        Teen   17                 104
195         196  Female       Elder   56                  47
196         197  Female       Elder   40                 140
197         198  Female       Elder   42                 108

     Spending Score (1-100)
1                        69
5                        95
9                        96
14                       24
16                        2
..                      ...
186                      25
189                      38
195                      45
196                      61
197                      47

[100 rows x 6 columns]
Male
     CustomerID Genre   Age Group  Age  Annual Income (k$)  \
0             1  Male       Elder   44                 131
2             3  Male       Elder   44                 113
3             4  Male        Teen   16                 138
4             5  Male       Elder   42                 119
6             7  Male  Middle Age   35                  38
..          ...   ...         ...  ...                 ...
192         193  Male        Teen   16                  99
193         194  Male       Elder   47                  53
194         195  Male  Middle Age   29                 114
198         199  Male       Elder   41                 115
199         200  Male       Elder   58                  37

     Spending Score (1-100)
0                        10
2                       100
3                        34
4                        52
6                        10
..                      ...
192                      44
193                      45
194                      32
198                      21
199                      80

[100 rows x 6 columns]

## We want to understand how a numeric value (like income or age) changes across different categories (like age groups).

In your dataset:

Categorical Variable: Age Group → values like "Teen", "Middle Age", "Elder"

Numeric Variable: Annual Income (k$)
df.groupby('Age Group'):

Groups all rows into 3 categories based on the Age Group column: Teen, Middle Age, Elder.

For example, it groups all teens together, all middle-aged customers together, and so on.

['Annual Income (k$)']:

From each group, we're selecting the numeric column Annual Income (k$) for analysis.

.agg(['mean', 'median', 'min', 'max', 'std']):

Applies multiple aggregation functions: average (mean), middle value (median), minimum, maximum, and standard deviation (std) for each group.

In [5]:
# Group by 'Age Group' and compute summary statistics for 'Annual Income (k$)'
income_stats = df.groupby('Age Group')['Annual Income (k$)'].agg(
    ['mean', 'median', 'min', 'max', 'std']
)

# Display the results
income_stats

                 mean  median  min  max        std
Age Group
Elder       79.292929    77.0   15  140  37.714354
Middle Age  81.000000    77.5   16  136  34.633260
Teen        80.636364    74.0   22  139  36.867854

##  Create a List of Numeric Values for Each Categorical Variable
That means: for each Age Group, we should extract all numeric values of, say, Annual Income (k$) into a list.
Groups the dataset by Age Group.

For each group, gathers all Annual Income (k$) values into a Python list.

In [6]:
# Create a dictionary of lists of income values grouped by Age Group
income_lists = df.groupby('Age Group')['Annual Income (k$)'].apply(list)

# Display the result
print(income_lists)

Age Group
Elder         [131, 20, 113, 119, 51, 107, 127, 67, 109, 113...
Middle Age    [38, 60, 74, 77, 109, 72, 118, 46, 61, 120, 16...
Teen          [138, 130, 99, 47, 128, 37, 41, 113, 64, 27, 7...
Name: Annual Income (k$), dtype: object

## iris

In [31]:
import pandas as pd

# Load the dataset
df3 = pd.read_csv('/kaggle/input/irisda/iris_synthetic.csv')

# Display the first few rows of the dataset to understand its structure
print(df3.head())

   SepalLength  SepalWidth  PetalLength  PetalWidth          Species
0     5.248357    3.125246     3.085502    0.968660      Iris-setosa
1     4.930868    3.173224     3.219909    1.477571  Iris-versicolor
2     5.323844    2.659988     3.873647    0.507137   Iris-virginica
3     5.761515    3.116127     3.805185    1.252023      Iris-setosa
4     4.882923    3.146536     3.489549    0.734871  Iris-versicolor

In [20]:


# Group by species
grouped = df.groupby('Species')

# Display statistical summary for each species
for species, group in grouped:
    print(f"\nStatistics for {species}:\n")
    print(group.describe(percentiles=[.25, .5, .75]))

Statistics for Iris-setosa:

       SepalLength  SepalWidth  PetalLength  PetalWidth
count    50.000000   50.000000    50.000000   50.000000
mean      4.976777    3.114989     3.516816    1.016355
std       0.375653    0.439041     0.495021    0.469857
min       4.299074    2.023956     2.620630   -0.150961
25%       4.721094    2.874613     3.117353    0.675187
50%       4.973041    3.139421     3.506562    1.023947
75%       5.176870    3.305987     3.803283    1.309427
max       5.789606    4.071972     4.594901    2.037700

Statistics for Iris-versicolor:

       SepalLength  SepalWidth  PetalLength  PetalWidth
count    50.000000   50.000000    50.000000   50.000000
mean      4.944403    2.872364     3.498743    0.890692
std       0.505585    0.475337     0.489745    0.539889
min       4.006216    1.379366     2.438052   -0.235822
25%       4.621665    2.561409     3.103327    0.528633
50%       4.946822    2.855018     3.509276    0.783681
75%       5.350282    3.220993     3.855346    1.158739
max       5.943093    4.157329     4.377670    2.539440

Statistics for Iris-virginica:

       SepalLength  SepalWidth  PetalLength  PetalWidth
count    50.000000   50.000000    50.000000   50.000000
mean      4.955330    3.119492     3.566909    0.946015
std       0.527051    0.577988     0.444932    0.442669
min       3.690127    1.987429     2.480384   -0.105568
25%       4.597537    2.649621     3.281073    0.639729
50%       4.987948    3.174735     3.543200    0.932999
75%       5.237680    3.427704     3.804017    1.245839
max       6.231621    4.926366     4.576591    1.843571

In [32]:
df3.columns=("A","B","C","D","E")
df3

            A         B         C         D                E
0    5.248357  3.125246  3.085502  0.968660      Iris-setosa
1    4.930868  3.173224  3.219909  1.477571  Iris-versicolor
2    5.323844  2.659988  3.873647  0.507137   Iris-virginica
3    5.761515  3.116127  3.805185  1.252023      Iris-setosa
4    4.882923  3.146536  3.489549  0.734871  Iris-versicolor
..        ...       ...       ...       ...              ...
145  5.390911  2.653545  3.834836  0.744992  Iris-versicolor
146  4.381525  3.449800  3.683299  0.865063   Iris-virginica
147  4.339772  3.153650  3.030060  0.510618      Iris-setosa
148  5.260971  3.406431  3.243067  0.777853  Iris-versicolor
149  5.148492  3.314814  2.970393  1.188650   Iris-virginica

[150 rows x 5 columns]

In [33]:
df4=df3.groupby("E")
df4

In [34]:
df4.get_group("Iris-setosa")

            A         B         C         D            E
0    5.248357  3.125246  3.085502  0.968660  Iris-setosa
3    5.761515  3.116127  3.805185  1.252023  Iris-setosa
6    5.789606  3.932887  4.138832  0.946485  Iris-setosa
9    5.271280  3.328277  3.398904  0.401061  Iris-setosa
12   5.120981  3.579298  3.912708  0.650137  Iris-setosa
15   4.718856  3.206390  3.510502  0.889515  Iris-setosa
18   4.545988  2.877306  3.662083  0.734749  Iris-setosa
21   4.887112  2.592095  3.797579 -0.150961  Iris-setosa
24   4.727809  3.138345  2.996991  1.822484  Iris-setosa
27   5.187849  3.726767  3.895831  1.155625  Iris-setosa
30   4.699147  3.312834  3.493877  0.936041  Iris-setosa
33   4.471145  3.241236  3.161419  1.101732  Iris-setosa
36   5.104432  3.236619  3.087251  0.676714  Iris-setosa
39   5.098431  2.242576  3.218138  1.440820  Iris-setosa
42   4.942176  3.107047  3.622483  1.038684  Iris-setosa
45   4.640078  3.192659  3.616025  1.269455  Iris-setosa
48   5.171809  3.029104  3.140778  0.562191  Iris-setosa
51   4.807459  3.280392  4.237678  1.954708  Iris-setosa
54   5.515500  2.311165  3.490492  0.674679  Iris-setosa
57   4.845394  3.256893  3.355671  0.568005  Iris-setosa
60   4.760413  3.285445  3.759673  1.135228  Iris-setosa
63   4.401897  3.325696  3.700856  0.546218  Iris-setosa
66   4.963995  2.613587  3.612046  1.250459  Iris-setosa
69   4.677440  3.040937  3.113495  1.375694  Iris-setosa
72   4.982087  3.343130  4.225572  0.668688  Iris-setosa
75   5.410951  3.544475  3.116326  0.097559  Iris-setosa
78   5.045880  2.642348  4.594901  1.129861  Iris-setosa
81   5.178556  3.108229  3.200304  0.169240  Iris-setosa
84   4.595753  4.071972  3.120434  0.674082  Iris-setosa
87   5.164376  3.093227  4.438085  0.807722  Iris-setosa
90   5.048539  2.603740  3.050793  1.417846  Iris-setosa
93   4.836169  3.432878  4.415729  1.720784  Iris-setosa
96   5.148060  2.762527  2.643433  1.288536  Iris-setosa
99   4.882706  3.202491  4.118908  0.698007  Iris-setosa
102  4.828643  4.061078  3.502622  1.583891  Iris-setosa
105  5.202025  2.757883  3.811425  0.794062  Iris-setosa
108  5.128775  3.221910  3.560148  1.197226  Iris-setosa
111  4.986743  2.970237  2.937679  2.037700  Iris-setosa
114  4.903820  2.873716  3.666157  1.600607  Iris-setosa
117  4.415661  2.284929  3.557837  0.495957  Iris-setosa
120  5.395516  3.720637  4.530374  1.009209  Iris-setosa
123  4.299074  3.005117  3.985785  0.890450  Iris-setosa
126  4.504732  3.099530  3.017538  1.117807  Iris-setosa
129  4.748262  2.807343  2.620630  1.571877  Iris-setosa
132  4.468848  3.793008  3.365297  1.316391  Iris-setosa
135  5.774967  2.023956  3.537047  1.124110  Iris-setosa
138  5.406759  3.140496  2.648309  1.415168  Iris-setosa
141  5.653571  2.753500  3.483653  0.761171  Iris-setosa
144  5.129941  3.178508  2.847765  1.518770  Iris-setosa
147  4.339772  3.153650  3.030060  0.510618  Iris-setosa

In [35]:
df4.get_group("Iris-virginica")

            A         B         C         D               E
2    5.323844  2.659988  3.873647  0.507137  Iris-virginica
5    4.882932  2.642824  3.558664  0.603564  Iris-virginica
8    4.765263  2.404348  3.773549  0.723175  Iris-virginica
11   4.767135  3.393542  4.049388  1.017632  Iris-virginica
14   4.137541  3.481688  4.152739  0.943836  Iris-virginica
17   5.157124  3.948396  3.344867  1.378754  Iris-virginica
20   5.732824  2.555243  3.548498  0.862474  Iris-virginica
23   4.287626  3.170576  4.546194  1.683437  Iris-virginica
26   4.424503  3.006501  4.079055  1.288278  Iris-virginica
29   4.854153  4.360085  3.814173  1.559787  Iris-virginica
32   4.993251  2.464554  3.537902  0.196777  Iris-virginica
35   4.389578  3.357000  3.426471  0.288873  Iris-virginica
38   4.335907  2.576603  3.706466  1.843571  Iris-virginica
41   5.085684  3.428199  3.621844  1.739972  Iris-virginica
44   4.260739  3.086590  3.264481  1.761562  Iris-virginica
47   5.528561  3.076863  2.796268  0.904831  Iris-virginica
50   5.162042  3.178894  3.655454  1.463089  Iris-virginica
53   5.305838  3.526901  3.420031  1.281485  Iris-virginica
56   4.580391  3.257518  3.490743  0.703803  Iris-virginica
59   5.487773  4.926366  3.086385  0.584525  Iris-virginica
62   4.446833  3.477001  3.445620  0.880526  Iris-virginica
65   5.678120  3.379485  3.299390  1.377696  Iris-virginica
68   5.180818  2.757318  3.548838  1.049666  Iris-virginica
71   5.769018  2.066367  3.748999  1.271680  Iris-virginica
74   3.690127  2.764034  4.576591  0.618370  Iris-virginica
77   4.850496  2.461128  3.591671  1.024042  Iris-virginica
80   4.890164  2.634817  3.080139  1.319296  Iris-virginica
83   4.740865  2.674200  3.237122  0.394492  Iris-virginica
86   5.457701  1.987429  3.670878  0.569793  Iris-virginica
89   5.256634  3.426217  3.211548  0.711554  Iris-virginica
92   4.648973  3.252494  2.839883  1.264902  Iris-virginica
95   4.268243  2.832749  3.265412  0.601552  Iris-virginica
98   5.002557  3.882727  3.442730  1.185573  Iris-virginica
101  4.789677  3.458931  3.200312  0.922161  Iris-virginica
104  4.919357  2.240315  3.274967  1.168801  Iris-virginica
107  5.087289  2.646165  3.428810  0.783721  Iris-virginica
110  4.040614  2.536535  3.855807  1.144887  Iris-virginica
113  6.231621  2.487806  4.138838  0.836988  Iris-virginica
116  4.982644  3.816206  4.275576 -0.019062  Iris-virginica
119  5.375967  3.065370  3.533759  0.824243  Iris-virginica
122  5.701397  3.581582  3.375518  1.163464  Iris-virginica
125  6.095228  3.231052  4.184316 -0.105568  Iris-virginica
128  5.049826  3.034901  4.029212  0.260707  Iris-virginica
131  5.034281  3.331065  2.480384  0.792356  Iris-virginica
134  4.540288  4.066517  4.251179  1.090933  Iris-virginica
137  4.838969  3.294159  2.809949  0.575078  Iris-virginica
140  5.113730  2.895939  3.692033  1.035783  Iris-virginica
143  5.092317  3.424801  3.455440  1.166831  Iris-virginica
146  4.381525  3.449800  3.683299  0.865063  Iris-virginica
149  5.148492  3.314814  2.970393  1.188650  Iris-virginica

In [36]:
df4.mean()

                        A         B         C         D
E
Iris-setosa      4.976777  3.114989  3.516816  1.016355
Iris-versicolor  4.944403  2.872364  3.498743  0.890692
Iris-virginica   4.955330  3.119492  3.566909  0.946015